<?xml version ="1.0" encoding ="utf-8"?>
<configuration>

	<connectionStrings>
		<add name ="Connect"
			 connectionString ="data source = DESKTOP-SHRP3NQ ; database= library_mangemnet ; integrated security = true"
			 providerName = "system.Data.SqlClient"
			 />
	</connectionStrings>
</configuration>

